@import 'https://fonts.googleapis.com/css?family=Varela+Round';

body {
  font-family: 'Varela Round', sans-serif; 
}

h1 {
  padding-top: 150px;
  text-align: center;
}
a {
  color: #555;
  font-size: 14px;
}
