/* @import 'https://fonts.googleapis.com/css?family=Varela+Round'; */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

body {
  /* font-family: 'Varela Round', sans-serif;  */
  font-family: 'Open Sans', sans-serif;
}

h1 {
  padding-top: 150px;
  text-align: center;
}
small, a {
  color: #555;
  font-size: 14px;
  text-decoration: none;
}
