@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  height: 100%; }

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #111;
  background-color: #111;
  background-image: url(../images/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

h1, h2, h3 {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.4); }

h1 {
  padding-top: 7em; }
  h1 span {
    font-weight: bold; }

h2 {
  color: #333; }

ul {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  text-align: center; }
  ul li {
    display: inline-block;
    padding: 0 3px; }
    ul li a {
      color: #555;
      font-size: 14px;
      text-decoration: none; }
      ul li a:hover {
        border-bottom: 2px solid #555; }

.wrapper {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.4); }
